AssemblyInfo.cs
Resources.Designer.cs
Resources.resx
Settings.Designer.cs
Settings.settings
.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DesignTimeResolveAssemblyReferences.cache
DesignTimeResolveAssemblyReferencesInput.cache
LAB4.csprojAssemblyReference.cache
.signature.p7s
HtmlAgilityPack.1.11.33.nupkg
HtmlAgilityPack.dll
HtmlAgilityPack.pdb
HtmlAgilityPack.xml
LAB4.csproj.CoreCompileInputs.cache
LAB4.csproj.FileListAbsolute.txt
LAB4.csproj.GenerateResource.cache
packages.config
HtmlAgilityPack.deps.json
HtmlAgilityPack.pri
LAB4.csproj.CopyComplete
LAB4.csproj.CoreCompileInputs.cache
LAB4.csproj.FileListAbsolute.txt